doctype html
html(lang="en")
 head
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css' )
  link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  script(src='/javascripts/addDriver.js')
 body
 div.text-center
  h1 Add Driver
  form(method="post"  action="/addDriver")
    br
    br
    p Name  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      input(type="text", name="driver_name", id="driver_name", placeholder="name")
    br
    p Phone Number &nbsp &nbsp
      input(type="text", name="phone_number", id="phone_number", placeholder="phone number")
    br
    p Stage &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      select(name="stagepicker")
        option(value = "1") Nabyewanga
        option(value = "2") Kakoni
        option(value = "3") Katonga
        option(value = "4") Kayabwe
        option(value = "5") University
        option(value = "6") Bugeye
        option(value = "7") Golo Town
        option(value = "8") Nabusanke
    br
    p License Number &nbsp 
      input(type="text", name= "license_number", id="license_number", placeholder="license number")
    br
    p Payment Option &nbsp &nbsp &nbsp &nbsp 
      select(name="selectpicker")
        option(value = "20") $1.67 for 20 rides
        option(value = "40") $3.34 for 40 rides
        option(value = "60") $5 for 60 rides 
    br
    p Recommender 1 &nbsp &nbsp
      input(type="text", name= "recommenders1", id="recommenders1", placeholder="Recommender 1")
    br
    p Contact &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
      input(type="text", name= "recommender1con", id="recommender1con", placeholder="Contact for Recommender 1")
    br
    p Recommender 2 &nbsp &nbsp
      input(type="text", name= "recommenders2", id="recommenders2", placeholder="Recommenders 2")
    br
    p Contact &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
      input(type="text", name= "recommender2con", id="recommender2con", placeholder="Contact for Recommender 2")
    br
    br
    input(type="submit" class="btn btn-primary btn-large" value="Add")
    &nbsp
    button.btn.btn-primary.btn-large(type='button',method="post", onclick="back()") Back
 
