doctype html
html(lang="en")
 head
  title Login  
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css' )
  link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
 body
  div.loginform
   form(method="post" id='loginform' action="/")
    input(type="text" name="username" id="uname" placeholder="Username")
    input(type="password" name="password" id ="pword" placeholder="Password")
    input(type="submit" class="btn btn-primary btn-block btn-large" value="Log In")
    a(class='changepw', href="/change-password") Change Password