link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css")
link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
extends layout

block content
  div.row
    div.span4
     p.circle 
     .span-label Trial Ride Plan
     .span-price Price:   $1.67 USD
     .span-rides # of rides : 20 or less
     p.btn Details
    div.span4
     p.circle  
     .span-label Limited Ride Plan
     .span-price Price:   $3.34 USD
     .span-rides # of rides : 21 - 40
     p.btn Details
    div.span4
     p.circle 
     .span-label Unlimited Ride Plan
     .span-price Price:   $5.00 USD
     .span-rides # of rides : 40 +
     p.btn Details
     
 